fastapi==0.85.0
uvicorn==0.24.0
pymongo==4.3.3
python-dotenv==1.0.0
passlib==1.7.4
python-jose[cryptography]==3.3.0
pydantic==1.10.13
python-multipart==0.0.6


# fastapi==0.85.0
# uvicorn==0.24.0
# pymongo==4.5.0
# python-dotenv==1.0.0
# passlib==1.7.4
# python-jose[cryptography]==3.3.0
# pydantic==1.10.13
# python-multipart==0.0.9
# gunicorn==23.0.0